# Byte-compiled files
__pycache__/
*.py[cod]

# Cython debug symbols
cython_debug/

# Virtual environment
venv/
.env/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Windows
Thumbs.db
Desktop.ini

# Pytest
*.log
*.xml
reportes/

# Node modules (if applicable)
node_modules/

# Environment files
.env
*.env

# Distribution / packaging
build/
dist/
*.egg-info
*.egg
